body {
    background: rgba(64, 112, 136, 0.05);
}


#info-container {
    width: 988px;
    background: #ffffff;
    border-radius: 25px;
    margin-top: 81px;
    box-shadow: 9px 10px 25px -4px rgba(0, 0, 0, 0.07);
    height: 880px;
}

#app-title h1 {
    text-align: right;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 13px;
    font-family: 'Bodoni Moda', serif;
    color: #407088;
    letter-spacing: 14px;
    font-weight: 100;
    margin: 0px 30px 0px 30px;
}

.line {
    margin: 0px 30px 0px 30px;
    color: #f5f5f5;
}

.search-bar {
    margin-top: 35px;
    margin-left: 37px;
    margin-right: 37px;
}

#city-search {
    border-radius: 10px;
    background: rgba(64, 112, 136, 0.10);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#search-btn {
    border-radius: 10px;
    background: #407088;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border: none;
}

#current-btn {
    border-radius: 10px;
    background: #b5b5b5;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.active-btn {
    border-radius: 10px;
    background: #b5b5b5;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    cursor: default;
}

.inactive-btn {
    border-radius: 10px;
    background: #407088;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 10px;
}


.city-information {
    text-align: center;
    margin-top: 41px;
    font-family: 'Poppins', sans-serif;
}

.city-information h2 {
    font-size: 40px;
    letter-spacing: 2px;
}

.city-information p {
    font-size: 15px;
    letter-spacing: 1px;
}

.city-information img {
    margin-top: 21px;
    margin-bottom: 21px;
    width: 115.676px;
    height: 115.745px;
}

#description {
    text-transform: capitalize;
}

.temp-info {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.temp-info h3 {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
}

.temp-info p {
    font-size: 18px;
    font-weight: 300;
}

.minMax {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.windSpeed {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.week-weather {
    margin-top: 42px;
    margin-bottom: 42px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.week-weather img {
    width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 0px;
}

.week-temp {
    font-size: 12px;
}

.coded-by {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}

.coded-by a {
    color: #407088;
}
.conversion {
    margin-bottom: 42px;
}